<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Whitecirclesschool.demo.TestScripts.DrSS_Test"/>
      <class name="com.Whitecirclesschool.demo.TestScripts.Login_Test"/>
      <class name="com.Whitecirclesschool.demo.TestScripts.DrList_Test"/>
      <class name="com.Whitecirclesschool.demo.TestScripts.DrTS_Test"/>
      <class name="com.Whitecirclesschool.demo.TestScripts.WelcomePage_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
